<div id="about" class="bg">
<div class="container">
<div class="inner-container">
    <h2 class="pb-3 mbr-fonts-style display-2">
        About Us</h2>
    
    

  <hr class="line" style="width: 100%;">
  <div class="section-text align-center mbr-white mbr-fonts-style display-5a">The coconutApp Shoppe is an interface for
    the customers of the coconut shopping App. This application is used by the retailers to make offers and
    discounts available to the customers of the coconut shopping app using the coconutApp card or customer number. This application should only be used by the supporting
    retailers selected by the coconutApp Admin. </div>

</div>
</div>
</div>